*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{
    width: 100%;
    height: 100vh;
    background-color: rgb(1, 10, 17);
}
.page .box{
    width: 90%;
    height: 90vh;
    border: 1px solid black;
    position: absolute;
    top: 7%;
    left: 5%;
    background: rgb(9, 4, 13);
}
.page .menu{
    margin: 35px 20px;
}
.page .menu a{
    margin-left: 45px;
    padding-bottom: 2px;
    text-decoration: none;
    position: relative;
    left: 28%;
    top: 59%;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}
.page .menu a:hover{
    cursor: pointer;
    padding-bottom: 2px;
    border-bottom: 2px solid #fff;
}
.page .box .menu .btn{
    width: 8%;
    height: 7%;
    position: absolute;
    left: 80%;
    top: 5%;
    background: linear-gradient(to right,rgb(224, 45, 186),rgb(154, 62, 196));
    color: #fff;
    border: none;
}
 .btn:hover{
    cursor: pointer;
    box-shadow: 0px 10px 20px 0px rgba(198, 182, 200, 0.3);
}
.page .box img{
    width: 30%;
    position: absolute;
    left: 70%;
    top: 43%;
    filter: contrast(130%);
}
.page .box h1{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 5%;
    left: 15%;
    font-size: 20px;
}
.page .box .menu .cir{
    position: absolute;
    width: 1.4%;
    height: 3%;
    left: 12.6%;
    top: 6.3%;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
}
.page .box .menu .line{
    position: absolute;
    height: 4%;
    border: 2.9px solid #210338;
    left: 12.9%;
    top: 6.1%;
    transform: rotate(55deg);
}
.page .box .menu .dot1{
    position: absolute;
    height: 0.3%;
    left: 12.2%;
    top: 9%;
    border: 1.5px solid #fff;
    border-radius: 50%;
}
.dot2{
    position: absolute;
    top: 5.9%;
    left: 14.2%;
    height: 0.3%;
    border: 1.5px solid #fff;
    border-radius: 50%;
}
.page .box .main{
    font-size: 50px;
    position: absolute;
    top: 20%;
    left: 11%;
}
.page .box p{
    color: grey;
    font-family: sans-serif;
    position: absolute;
    left: 11%;
    top: 50%;
}

.page .box .btn2{
    width: 15%;
    height: 7%;
    position: absolute;
    left: 11%;
    top: 65%;
    background: linear-gradient(to right,rgb(224, 45, 186),rgb(154, 62, 196));
    color: #fff;
    border: none;
    font-size: 17px;
}
.page .box .tri{
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background: linear-gradient(rgb(99, 4, 137),rgb(25, 8, 8));
    width: 50%;
    height: 80vh;
    opacity: 0.05;
}
.page .box .c2{
    position: absolute;
    top: 10%;
    left: -3%;
    clip-path: circle(33.3% at 50% 50%);
    background: radial-gradient(rgb(99, 4, 137),rgb(25, 8, 8));
    width: 25%;
    height: 25vh;
    opacity: 0.04;
}
.page .box .tri2{
    position: absolute;
    top: 6%;
    left: 1%;
    clip-path: polygon(66% 0, 0 74%, 54% 100%);
    background: radial-gradient(rgb(99, 4, 137),rgb(69, 4, 69));;
    width: 40%;
    height: 60vh;
    opacity: 0.05;
}